*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.4rem;
}
/*Header*/


.navbar{
    background-color: black;
    height: 173px;
    border-bottom: solid 1px white;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    margin-top: 100px;
    display: flex;
    list-style: none;
}


nav ul li a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    border-radius: 3px;
    display: block;
    
}
/*Main Index*/

.container-index{
    display: flex;
    width: 100%;
    padding: 5%;
    justify-content: space-between;
    align-content: center;

}

.container-info{
    border: solid 2px white;
    padding: 20px;
    width: 40rem;

}
.container-info ul{
    margin-top: 1rem;
}

.container-info ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    display: inline;
}
.image{
    background-color: #e5e5e5;
    width: 400px;
    height: 400px;
}
/*Footer*/

footer{
    background-color: black;
    height: 150px;
    padding-bottom: 30px;
    border-top: solid 1px white;
    width: 100%;
  
}

footer div {
    text-align: center;
}

footer div ul{
    margin-top: 1rem;   
}
footer div ul li{
    display: inline;
 
}

/*Section Experience*/

.jobContainer{
    border: solid 3px white;
    padding:30px;
    margin-right: 70%;
}

/*Portfolio*/
.imgAgency{
    width: 20rem;
}

.imgDiet{
    width: 15rem;
}

.socialIcon{
    border-radius: 45%;
    border: solid 0.5px black;   
    width: 48px;

}

/*Contact */

.container{
    padding: 5%;
}
.container-grid{
   display: grid;
   grid-template-columns: 30% 30%;
   grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
   grid-template-areas: 
   "titulo titulo"
    "nombre apellido"
    "telefono email"
    "terminos terminos"
    "mensaje mensaje"
    "enviar enviar"
    ;
    justify-content: center;
    align-content: center;
}
#titulo{
    grid-area: titulo;
    text-align: center;
}
#nombre{
    grid-area: nombre;
}

#apellido{
    grid-area: apellido;
}
#telefono{
    grid-area: telefono;
}
#email{
    grid-area: email;
}
#terminos{
    grid-area: terminos;
}
#mensaje{
    grid-area: mensaje;
    text-align: center;
}
#enviar{
    grid-area: enviar;

}
