/*Variables*/
/*Body*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.4rem;
}

.container {
  margin: 4%;
  min-height: 50vh;
}

/*Menu*/
.menu {
  background-color: black;
  height: 95px;
  width: 100%;
  border-bottom: solid 1px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_items {
  margin-right: 30px;
  display: flex;
  list-style: none;
}

.menu_items li {
  margin: 0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: block;
}

.menu_items li:hover, li.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 85px;
}

@media screen and (max-width: 952px) {
  .menu_items li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 858px) {
  .menu {
    height: 75px;
  }

  .btn_menu {
    display: inline-flex;
  }

  .menu_items {
    position: absolute;
    width: 100vw;
    height: calc(100% - 85px);
    background-color: black;
    top: -90vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }

  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }

  .menu_items li:hover {
    background: grey;
  }

  .menu_items li a:hover {
    color: black;
  }

  .logo {
    font-size: 25px;
    padding-left: 35px;
  }

  .photo {
    width: 100%;
  }
}
/*Footer*/
footer {
  background-color: black;
  padding-bottom: 0px;
  border-top: solid 1px white;
  width: 100%;
  position: absolute;
}

footer div {
  text-align: center;
}

footer div ul {
  margin-top: 1rem;
}

footer div ul li {
  display: inline;
}

/*Main Index*/
.container-index {
  display: flex;
  width: 100%;
  padding: 5%;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  min-height: 50vh;
}

@media screen and (max-width: 858px) {
  .image {
    margin-top: 4rem;
    margin-bottom: 4rem;
    order: 1;
  }

  .container-info {
    margin-top: 2rem;
    order: 2;
  }
}
.container-info {
  border: solid 2px white;
  padding: 20px;
  width: 40rem;
}

.container-info ul {
  margin-top: 1rem;
}

.container-info ul li {
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  display: inline;
}

.title-skill {
  text-align: center;
  margin-bottom: 4rem;
}

.flex-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-skills img {
  margin-right: 40px;
}

.description-title {
  font-weight: bold;
  margin-left: 1rem;
}

@media screen and (max-width: 858px) {
  .description-title {
    margin-left: 2rem;
  }
}
/*Portfolio*/
.imgAgency {
  width: 20rem;
}

.imgDiet {
  width: 15rem;
}

.socialIcon {
  border-radius: 45%;
  border: solid 0.5px black;
  width: 48px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "fila1-1 fila1-2" "fila2-1 fila2-2";
}

.fila1-1 {
  grid-area: fila1-1;
}

.fila1-2 {
  grid-area: fila1-2;
}

.fila2-1 {
  grid-area: fila2-1;
}

.fila2-2 {
  grid-area: fila2-2;
}

/*Section Experience*/
h1 {
  text-align: center;
}

.jobContainer {
  border: solid 2px white;
  width: 40rem;
}

.coderhouse {
  width: 400px;
}

.jobBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.contact-section {
  padding: 2rem 0;
}

.contact-section h1 {
  text-align: center;
  color: #ddd;
}

.border {
  width: 100px;
  height: 10px;
  background-color: #34495e;
  margin: 2rem auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0px;
  border: 0;
  background-color: #111;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
  color: #ddd;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background-color: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background-color: #2980b9;
}

/*# sourceMappingURL=style.css.map */
