/*Section Experience*/
h1{
    text-align: center;
}
.jobContainer{
    border: solid 2px white;
    width:  40rem;

}

.coderhouse{
    width: 400px;
}

.jobBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    padding: 5%;
}