/*Main Index*/

.container-index{
    display: flex;
    width: 100%;
    padding: 5%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    min-height: 50vh;

}
@media screen and (max-width:858px) {
    .image{
        margin-top: 4rem;
        margin-bottom: 4rem;
        order: 1;
    }
    .container-info{
        margin-top: 2rem;
        order: 2;
    }
}
.container-info{
    border: solid 2px white;
    padding: 20px;
    width: 40rem;

}

.container-info ul{
    margin-top: 1rem;
}

.container-info ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    display: inline;
}

